@model Cars_Parking_Service.Models.parqueaderos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>parqueaderos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_parqueadero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_parqueadero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tarifa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tarifa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_parqueadero">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
